:root {
    --clock-dimensions: calc(200px + 5vw)
}
html {
    background-image: linear-gradient(180deg, blue, green);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    margin-bottom: 20px;
}

.clock-face {
    border: 15px solid white;
    height: var(--clock-dimensions);
    width: var(--clock-dimensions);
    border-radius: 50%;
    display: flex;
    padding: 5px;
    position: relative;
    
}

.hand {
    background-color: black;
    height: 5px;
    z-index: 1;
    width: 45%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 98%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 2.22, 0.58, 1);
}

.hour-hand {
    height: 10px;
    width: 35%;
}

.minute-hand {
    height: 8px;
    width: 40%;
}

button.mute {
    padding: 2px 5px;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    background-color: coral;
}

button.mute:hover {
    padding: 3px 7px;
    cursor: pointer;
    box-shadow: 0 0 3px 3px skyblue;
}

.center-dot {
    height: 20px;
    width: 20px;
    background-color: black; 
    position: absolute;
    top: 48%;
    right: 47%;
    border-radius: 50%;
}